In [1]:
# Pandas is used for data manipulation
import pandas as pd

# Read in data and display first 5 rows
features = pd.read_csv("../processed_data/2018_Clusters_Ratios_AF_v2.csv")
columns = features.columns

In [2]:
features.groupby('cluster').count()

,Name,Net cash flow / Change in cash,Average Payables,Average Receivables,currentRatio,SG&A to Revenue,daysOfPayablesOutstanding,daysOfInventoryOutstanding,eBITperRevenue,Debt to Assets,Debt to Equity,Payout Ratio,ROE,R&D to Revenue,PE ratio,returnOnAssets,Dividend Yield
cluster,,,,,,,,,,,,,,,,,
0,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
1,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
2,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
3,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
4,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
5,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
6,183,183,183,183,183,183,183,183,183,183,183,183,183,183,183,183,183
7,155,155,155,155,155,155,155,155,155,155,155,155,155,155,155,155,155
8,61,61,61,61,61,61,61,61,61,61,61,61,61,61,61,61,61
9,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
10,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
11,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
12,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
13,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1

In [3]:
features = features[features.cluster != 4]
features = features[features.cluster != 5]
features = features[features.cluster != 3]
features = features[features.cluster != 10]
features = features[features.cluster != 11]
features = features[features.cluster != 12]
features = features[features.cluster != 13]

In [4]:
features.groupby('cluster').count()

,Name,Net cash flow / Change in cash,Average Payables,Average Receivables,currentRatio,SG&A to Revenue,daysOfPayablesOutstanding,daysOfInventoryOutstanding,eBITperRevenue,Debt to Assets,Debt to Equity,Payout Ratio,ROE,R&D to Revenue,PE ratio,returnOnAssets,Dividend Yield
cluster,,,,,,,,,,,,,,,,,
0,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
1,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
2,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
6,183,183,183,183,183,183,183,183,183,183,183,183,183,183,183,183,183
7,155,155,155,155,155,155,155,155,155,155,155,155,155,155,155,155,155
8,61,61,61,61,61,61,61,61,61,61,61,61,61,61,61,61,61
9,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2

In [5]:
# Set "Name" column to the index
features = features.set_index('Name')

# Drop "Name" column
#features.drop(['Name'], axis=1)

In [6]:
# Use numpy to convert to arrays
import numpy as np

# Labels are the values we want to predict
labels = np.array(features['cluster'])

# Remove the labels from the features
# axis 1 refers to the columns
features= features.drop('cluster', axis = 1)

# Saving feature names for later use
feature_list = list(features.columns)

# Convert to numpy array
features = np.array(features)

In [7]:
# Using Skicit-learn to split data into training and testing sets
from sklearn.model_selection import train_test_split

# Split the data into training and testing sets
train_features, test_features, train_labels, test_labels = train_test_split(features, labels, test_size = 0.25, random_state = 42)

In [8]:
print('Training Features Shape:', train_features.shape)
print('Training Labels Shape:', train_labels.shape)
print('Testing Features Shape:', test_features.shape)
print('Testing Labels Shape:', test_labels.shape)

Training Features Shape: (307, 16)
Training Labels Shape: (307,)
Testing Features Shape: (103, 16)
Testing Labels Shape: (103,)

In [9]:
# Import the model we are using
from sklearn.ensemble import RandomForestClassifier

# Instantiate model with 1000 decision trees
rf = RandomForestClassifier(n_estimators = 1000, random_state = 42)

# Train the model on training data
rf.fit(train_features, train_labels);

In [10]:
from sklearn.metrics import confusion_matrix

test_pred = rf.predict(test_features)
confusion_matrix(test_labels, test_pred)

array([[ 0,  0,  1,  0,  0,  0],
       [ 0,  0,  1,  1,  0,  0],
       [ 0,  0, 40,  2,  0,  0],
       [ 0,  0,  5, 39,  0,  0],
       [ 0,  0,  0,  2, 11,  0],
       [ 0,  0,  0,  1,  0,  0]], dtype=int64)

In [11]:
print(test_labels)

[6 6 6 7 6 8 7 6 6 7 7 6 7 7 7 7 7 6 6 6 8 7 6 8 7 6 7 7 8 7 7 6 7 6 8 6 7
 7 6 7 7 6 6 6 6 7 7 8 6 6 8 7 7 6 7 7 6 8 1 7 6 7 6 8 6 7 7 6 8 6 7 6 9 7
 8 7 7 6 1 6 6 6 6 7 8 6 0 7 6 6 6 6 7 7 7 7 8 7 6 7 7 7 6]

In [12]:
from sklearn.metrics import accuracy_score
accuracy_score(test_labels, test_pred)

0.8737864077669902

In [13]:
#Identify feature importance
importances = rf.feature_importances_

In [14]:
print(importances)

[0.01866926 0.03765978 0.02902367 0.23932897 0.02736457 0.01998154
 0.02253835 0.02838037 0.29198698 0.15583183 0.02548781 0.02604573
 0.00506265 0.02121974 0.01704604 0.03437272]

In [15]:
print(columns)

Index(['Name', 'Net cash flow / Change in cash', 'Average Payables',
       'Average Receivables', 'currentRatio', 'SG&A to Revenue',
       'daysOfPayablesOutstanding', 'daysOfInventoryOutstanding',
       'eBITperRevenue', 'Debt to Assets', 'Debt to Equity', 'Payout Ratio',
       'ROE', 'R&D to Revenue', 'PE ratio', 'returnOnAssets', 'Dividend Yield',
       'cluster'],
      dtype='object')